{% extends 'card_layout.html' %}
{% block icon %}fa-industry{% endblock %}
{% block title %}Companies{% endblock %}
{% block content %}
<table class="table table-sm table-responsive">
    <thead>
        <tr>
            <th>Name</th>
            <th>Confirmation</th>
            <th>Fairguide</th>
            <th>Infoletter</th>
            <th>Feedback</th>
        </tr>
    </thead>
    <tbody>
        {% for c in companies|sort(attribute='name') %}
        <tr>
            <td>
                {{ c.name }}<br />
            </td>
            <!-- Confirmations -->
            <td>
                <a class="btn btn-primary-outline btn-sm btn-block" style="vertical-align=middle;"
                    href="{{ url_for('confirmations', output_format='pdf', company_id=c.id) }}">
                    pdf
                </a>
                <a class="btn btn-primary-outline btn-sm btn-block" style="vertical-align=middle;"
                    href="{{ url_for('confirmations', output_format='tex', company_id=c.id) }}">
                    source
                </a>
            </td>

            <!-- Fairguide -->
            <td>
                <a class="btn btn-primary-outline btn-sm btn-block" style="vertical-align=middle;"
                    href="{{ url_for('fairguidepage', output_format='pdf', company_id=c.id) }}">
                    pdf
                </a>
                <a class="btn btn-primary-outline btn-sm btn-block" style="vertical-align=middle;"
                    href="{{ url_for('fairguidepage', output_format='tex', company_id=c.id) }}">
                    source
                </a>
            </td>

            <!-- Infoletter -->
            <td>
                <a class="btn btn-primary-outline btn-sm btn-block" style="vertical-align=middle;"
                    href="{{ url_for('infoletter', output_format='pdf', company_id=c.id) }}">
                    pdf
                </a>
                <a class="btn btn-primary-outline btn-sm btn-block" style="vertical-align=middle;"
                    href="{{ url_for('infoletter', output_format='tex', company_id=c.id) }}">
                    source
                </a>
            </td>

            <!-- Feedback Form -->
            <td>
                <a class="btn btn-primary-outline btn-sm btn-block" style="vertical-align=middle;"
                    href="{{ url_for('feedback', output_format='pdf', company_id=c.id) }}">
                    pdf
                </a>
                <a class="btn btn-primary-outline btn-sm btn-block" style="vertical-align=middle;"
                    href="{{ url_for('feedback', output_format='tex', company_id=c.id) }}">
                    source
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}