<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Contractor</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">

  <style>
    .message {
      width: 100vw;
      box-sizing: border-box;

      padding: 2em;
      padding-top: 30vmin;

      text-align: center;

      font-size: xx-large;
      color: grey;
      font-weight: 500;
      line-height: 1.5;
    }

  </style>
</head>

<body>
  <!-- Header -->
  {% include 'navbar.html' %}
  <div class="message">
     {{ message }}
  </div>
</html>
