{% import 'utils.html' as utils %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Contractor</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">

  <!-- Font awesome icons -->
  <script src="https://use.fontawesome.com/dd6b7aac9b.js"></script>

</head>

<body>
  <!-- Header -->
  {% include 'navbar.html' %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-5 col-xl-3">
        <!-- Info text -->
        {% include 'about.html' %}
        {% include 'download.html' %}
        {% include 'settings.html' %}
      </div>
      <div class="col-lg-7 col-xl-9">
        <!-- Errors -->
        {% if errors %}
        {% include 'errors.html' %}
        {% endif %}

        <!-- Warnings -->
        {% if warnings %}
        {% include 'warnings.html' %}
        {% endif %}

        <!-- Companies -->
        {% include 'companies.html' %}
      </div>
    </div>
  </div>
</html>
